<?php
namespace ChengFang\EasyPay;

use ChengFang\EasyPay\Exception\ConfigurationException;

class Configuration{

	static $_config = [
		'wechat.appid' 			=> '',
		'wechat.mchid' 			=> '',
		'wechat.pay_key' 		=> '',
		'wechat.ssl_cert_path' 	=> '',
		'wechat.ssl_key_path' 	=> '',
		
		'alipay.id' 			=> '',
		'alipay.key' 			=> '',
		'alipay.email' 			=> '',
		'alipay.private_key'	=> '',
		'alipay.private_key'	=> '',
		'alipay.ali_public_key' => ''
	];

	public static function get($key, $default = null){
		if(array_key_exists($key, static::$_config) && !empty(static::$_config[$key])){
			return static::$_config[$key];
		}else if(!is_null($default)){
			return $default;
		}else{
			throw new ConfigurationException();
		}
	}
}